USE [master]
GO
/****** Object:  Database [ComplexDB]    Script Date: 24-10-2025 11:48:56 ******/
CREATE DATABASE [ComplexDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ComplexDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS07\MSSQL\DATA\ComplexDB.mdf' , SIZE = 139264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ComplexDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS07\MSSQL\DATA\ComplexDB_log.ldf' , SIZE = 139264KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ComplexDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ComplexDB]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_CalculateOrderDiscount]    Script Date: 24-10-2025 11:48:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[fn_CalculateOrderDiscount]
(
    @SubTotal DECIMAL(18,2),
    @UserRole NVARCHAR(MAX)
)
RETURNS DECIMAL(18,2)
AS
BEGIN
    DECLARE @Discount DECIMAL(18,2) = 0;
    
    -- Apply role-based discounts
    IF @UserRole = 'SuperAdmin'
        SET @Discount = @SubTotal * 0.20; -- 20% discount
    ELSE IF @UserRole = 'Admin'
        SET @Discount = @SubTotal * 0.15; -- 15% discount
    ELSE IF @UserRole = 'Moderator'
        SET @Discount = @SubTotal * 0.10; -- 10% discount
    ELSE IF @SubTotal > 1000
        SET @Discount = @SubTotal * 0.05; -- 5% for orders over $1000
    
    RETURN @Discount;
END;
GO
/****** Object:  UserDefinedFunction [dbo].[fn_CalculateUserLifetimeValue]    Script Date: 24-10-2025 11:48:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[fn_CalculateUserLifetimeValue]
(
    @UserId UNIQUEIDENTIFIER
)
RETURNS DECIMAL(18,2)
AS
BEGIN
    DECLARE @LifetimeValue DECIMAL(18,2);
    
    SELECT @LifetimeValue = ISNULL(SUM(Total), 0)
    FROM Orders
    WHERE UserId = @UserId AND Status IN ('Delivered', 'Processing', 'Shipped');
    
    RETURN @LifetimeValue;
END;
GO
/****** Object:  UserDefinedFunction [dbo].[fn_GetProductAverageRating]    Script Date: 24-10-2025 11:48:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[fn_GetProductAverageRating]
(
    @ProductId UNIQUEIDENTIFIER
)
RETURNS DECIMAL(3,2)
AS
BEGIN
    DECLARE @AverageRating DECIMAL(3,2);
    
    SELECT @AverageRating = ISNULL(AVG(CAST(Rating AS DECIMAL(3,2))), 0)
    FROM ProductReviews
    WHERE ProductId = @ProductId AND Status = 'Approved';
    
    RETURN @AverageRating;
END;
GO
/****** Object:  Table [dbo].[Users]    Script Date: 24-10-2025 11:48:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [uniqueidentifier] NOT NULL,
	[Username] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[Bio] [nvarchar](500) NULL,
	[LastLoginAt] [datetime2](7) NULL,
	[BirthDate] [date] NOT NULL,
	[PreferredLoginTime] [time](7) NOT NULL,
	[Metadata] [nvarchar](max) NULL,
	[Tags] [nvarchar](max) NULL,
	[FavoriteNumbers] [nvarchar](max) NULL,
	[CreditScore] [decimal](18, 6) NOT NULL,
	[Balance] [money] NOT NULL,
	[ProfilePicture] [varbinary](max) NULL,
	[Status] [nvarchar](max) NOT NULL,
	[Role] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 24-10-2025 11:48:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[Id] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[OrderNumber] [nvarchar](50) NULL,
	[ShippedAt] [datetime2](7) NULL,
	[DeliveredAt] [datetime2](7) NULL,
	[SubTotal] [decimal](18, 2) NOT NULL,
	[TaxAmount] [decimal](18, 2) NOT NULL,
	[ShippingCost] [decimal](18, 2) NOT NULL,
	[Total] [decimal](18, 2) NOT NULL,
	[OrderData] [nvarchar](max) NULL,
	[Tags] [nvarchar](max) NULL,
	[Status] [nvarchar](max) NOT NULL,
	[PaymentMethod] [nvarchar](max) NOT NULL,
	[ShippingAddress_Street] [nvarchar](200) NULL,
	[ShippingAddress_City] [nvarchar](100) NULL,
	[ShippingAddress_State] [nvarchar](100) NULL,
	[ShippingAddress_PostalCode] [nvarchar](20) NULL,
	[ShippingAddress_Country] [nvarchar](100) NULL,
	[ShippingAddress_Latitude] [float] NULL,
	[ShippingAddress_Longitude] [float] NULL,
	[BillingAddress_Street] [nvarchar](200) NULL,
	[BillingAddress_City] [nvarchar](100) NULL,
	[BillingAddress_State] [nvarchar](100) NULL,
	[BillingAddress_PostalCode] [nvarchar](20) NULL,
	[BillingAddress_Country] [nvarchar](100) NULL,
	[BillingAddress_Latitude] [float] NULL,
	[BillingAddress_Longitude] [float] NULL,
	[ReceiptPdf] [varbinary](max) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserProfiles]    Script Date: 24-10-2025 11:48:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserProfiles](
	[Id] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[FirstName] [nvarchar](100) NULL,
	[LastName] [nvarchar](100) NULL,
	[PhoneNumber] [nvarchar](20) NULL,
	[HomeAddress_Street] [nvarchar](200) NULL,
	[HomeAddress_City] [nvarchar](100) NULL,
	[HomeAddress_State] [nvarchar](100) NULL,
	[HomeAddress_PostalCode] [nvarchar](20) NULL,
	[HomeAddress_Country] [nvarchar](100) NULL,
	[HomeAddress_Latitude] [float] NULL,
	[HomeAddress_Longitude] [float] NULL,
	[WorkAddress_Street] [nvarchar](200) NULL,
	[WorkAddress_City] [nvarchar](100) NULL,
	[WorkAddress_State] [nvarchar](100) NULL,
	[WorkAddress_PostalCode] [nvarchar](20) NULL,
	[WorkAddress_Country] [nvarchar](100) NULL,
	[WorkAddress_Latitude] [float] NULL,
	[WorkAddress_Longitude] [float] NULL,
	[Preferences] [nvarchar](max) NULL,
	[Skills] [nvarchar](max) NULL,
	[Languages] [nvarchar](max) NULL,
	[Anniversary] [date] NULL,
	[Avatar] [varbinary](max) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_UserProfiles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_UserProfileSummary]    Script Date: 24-10-2025 11:48:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_UserProfileSummary]
AS
SELECT 
    u.Id AS UserId,
    u.Username,
    u.Email,
    u.Status,
    u.Role,
    u.Balance,
    u.CreditScore,
    u.CreatedAt,
    u.LastLoginAt,
    up.FirstName,
    up.LastName,
    up.PhoneNumber,
    up.HomeAddress_City AS City,
    up.HomeAddress_State AS State,
    up.HomeAddress_Country AS Country,
    (SELECT CAST(COUNT(*) AS INT) FROM Orders WHERE UserId = u.Id) AS TotalOrders,
    (SELECT SUM(Total) FROM Orders WHERE UserId = u.Id) AS TotalSpent
FROM Users u
LEFT JOIN UserProfiles up ON u.Id = up.UserId;
GO
/****** Object:  Table [dbo].[Products]    Script Date: 24-10-2025 11:48:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](1000) NULL,
	[SKU] [nvarchar](100) NULL,
	[Barcode] [nvarchar](50) NULL,
	[Price] [decimal](18, 4) NOT NULL,
	[SalePrice] [decimal](18, 4) NULL,
	[Cost] [decimal](18, 4) NULL,
	[Specifications] [nvarchar](max) NULL,
	[Tags] [nvarchar](max) NULL,
	[Categories] [nvarchar](max) NULL,
	[Images] [nvarchar](max) NULL,
	[Dimensions_Length] [decimal](18, 4) NULL,
	[Dimensions_Width] [decimal](18, 4) NULL,
	[Dimensions_Height] [decimal](18, 4) NULL,
	[Dimensions_Unit] [nvarchar](10) NULL,
	[Weight_Value] [decimal](18, 4) NULL,
	[Weight_Unit] [nvarchar](10) NULL,
	[Thumbnail] [varbinary](max) NULL,
	[ManualPdf] [varbinary](max) NULL,
	[DiscontinuedAt] [datetime2](7) NULL,
	[Status] [nvarchar](max) NOT NULL,
	[Type] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductInventories]    Script Date: 24-10-2025 11:48:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductInventories](
	[Id] [uniqueidentifier] NOT NULL,
	[ProductId] [uniqueidentifier] NOT NULL,
	[WarehouseCode] [nvarchar](100) NULL,
	[Location] [nvarchar](200) NULL,
	[Quantity] [int] NOT NULL,
	[ReservedQuantity] [int] NULL,
	[AvailableQuantity] [int] NULL,
	[UnitCost] [decimal](18, 4) NULL,
	[UnitPrice] [decimal](18, 4) NULL,
	[LastUpdated] [datetime2](7) NOT NULL,
	[LastRestocked] [datetime2](7) NULL,
	[ExpiryDate] [datetime2](7) NULL,
	[InventoryData] [nvarchar](max) NULL,
	[BatchNumbers] [nvarchar](max) NULL,
	[SerialNumbers] [nvarchar](max) NULL,
	[BarcodeImage] [varbinary](max) NULL,
	[Status] [nvarchar](max) NOT NULL,
	[Type] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_ProductInventories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_ProductInventoryStatus]    Script Date: 24-10-2025 11:48:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_ProductInventoryStatus]
AS
SELECT 
    p.Id AS ProductId,
    p.Name AS ProductName,
    p.SKU,
    p.Price,
    p.SalePrice,
    p.Status AS ProductStatus,
    p.Type AS ProductType,
    pi.WarehouseCode,
    pi.Quantity,
    pi.AvailableQuantity,
    pi.ReservedQuantity,
    pi.Status AS InventoryStatus,
    pi.LastUpdated,
    CASE 
        WHEN pi.AvailableQuantity > 100 THEN 'High Stock'
        WHEN pi.AvailableQuantity BETWEEN 20 AND 100 THEN 'Medium Stock'
        WHEN pi.AvailableQuantity BETWEEN 1 AND 19 THEN 'Low Stock'
        ELSE 'Out of Stock'
    END AS StockLevel
FROM Products p
LEFT JOIN ProductInventories pi ON p.Id = pi.ProductId;
GO
/****** Object:  Table [dbo].[OrderItems]    Script Date: 24-10-2025 11:48:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderItems](
	[Id] [uniqueidentifier] NOT NULL,
	[OrderId] [uniqueidentifier] NOT NULL,
	[ProductId] [uniqueidentifier] NOT NULL,
	[ProductName] [nvarchar](200) NULL,
	[Description] [nvarchar](1000) NULL,
	[Quantity] [int] NOT NULL,
	[UnitPrice] [decimal](18, 4) NOT NULL,
	[TotalPrice] [decimal](18, 4) NOT NULL,
	[ProductData] [nvarchar](max) NULL,
	[Attributes] [nvarchar](max) NULL,
	[Categories] [nvarchar](max) NULL,
	[ProductImage] [varbinary](max) NULL,
	[AddedAt] [datetime2](7) NOT NULL,
	[ModifiedAt] [datetime2](7) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_OrderItems] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_OrderDetailsSummary]    Script Date: 24-10-2025 11:48:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_OrderDetailsSummary]
AS
SELECT 
    o.Id AS OrderId,
    o.OrderNumber,
    o.UserId,
    u.Username,
    u.Email,
    o.CreatedAt AS OrderDate,
    o.Status AS OrderStatus,
    o.PaymentMethod,
    o.SubTotal,
    o.TaxAmount,
    o.ShippingCost,
    o.Total,
    o.ShippingAddress_City AS ShipToCity,
    o.ShippingAddress_State AS ShipToState,
    o.ShippingAddress_Country AS ShipToCountry,
    (SELECT COUNT(*) FROM OrderItems WHERE OrderId = o.Id) AS TotalItems,
    (SELECT SUM(Quantity) FROM OrderItems WHERE OrderId = o.Id) AS TotalQuantity
FROM Orders o
INNER JOIN Users u ON o.UserId = u.Id;
GO
/****** Object:  Table [dbo].[ProductReviews]    Script Date: 24-10-2025 11:48:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductReviews](
	[Id] [uniqueidentifier] NOT NULL,
	[ProductId] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](200) NULL,
	[Comment] [nvarchar](2000) NULL,
	[Rating] [int] NOT NULL,
	[ReviewData] [nvarchar](max) NULL,
	[Tags] [nvarchar](max) NULL,
	[ReviewImage] [varbinary](max) NULL,
	[Status] [nvarchar](max) NOT NULL,
	[Type] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_ProductReviews] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_ProductReviewsSummary]    Script Date: 24-10-2025 11:48:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_ProductReviewsSummary]
AS
SELECT 
    p.Id AS ProductId,
    p.Name AS ProductName,
    p.SKU,
    COUNT(pr.Id) AS TotalReviews,
    AVG(CAST(pr.Rating AS FLOAT)) AS AverageRating,
    SUM(CASE WHEN pr.Rating = 5 THEN 1 ELSE 0 END) AS FiveStarCount,
    SUM(CASE WHEN pr.Rating = 4 THEN 1 ELSE 0 END) AS FourStarCount,
    SUM(CASE WHEN pr.Rating = 3 THEN 1 ELSE 0 END) AS ThreeStarCount,
    SUM(CASE WHEN pr.Rating = 2 THEN 1 ELSE 0 END) AS TwoStarCount,
    SUM(CASE WHEN pr.Rating = 1 THEN 1 ELSE 0 END) AS OneStarCount
FROM Products p
LEFT JOIN ProductReviews pr ON p.Id = pr.ProductId
GROUP BY p.Id, p.Name, p.SKU;
GO
/****** Object:  Table [dbo].[UserSessions]    Script Date: 24-10-2025 11:48:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserSessions](
	[Id] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[SessionToken] [nvarchar](500) NULL,
	[IpAddress] [nvarchar](45) NULL,
	[UserAgent] [nvarchar](500) NULL,
	[ExpiresAt] [datetime2](7) NULL,
	[LastActivityAt] [datetime2](7) NULL,
	[SessionData] [nvarchar](max) NULL,
	[Permissions] [nvarchar](max) NULL,
	[EncryptionKey] [varbinary](max) NULL,
	[Status] [nvarchar](max) NOT NULL,
	[Type] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_UserSessions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_ActiveUserSessions]    Script Date: 24-10-2025 11:48:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_ActiveUserSessions]
AS
SELECT 
    us.Id AS SessionId,
    us.UserId,
    u.Username,
    u.Email,
    us.SessionToken,
    us.IpAddress,
    us.Type AS SessionType,
    us.Status AS SessionStatus,
    us.CreatedAt,
    us.LastActivityAt,
    us.ExpiresAt,
    DATEDIFF(MINUTE, us.LastActivityAt, GETDATE()) AS MinutesSinceLastActivity
FROM UserSessions us
INNER JOIN Users u ON us.UserId = u.Id
WHERE us.Status = 'Active' AND us.ExpiresAt > GETDATE();
GO
/****** Object:  UserDefinedFunction [dbo].[fn_GetUserOrderHistory]    Script Date: 24-10-2025 11:48:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[fn_GetUserOrderHistory]
(
    @UserId UNIQUEIDENTIFIER,
    @FromDate DATETIME = NULL,
    @ToDate DATETIME = NULL
)
RETURNS TABLE
AS
RETURN
(
    SELECT 
        o.Id,
        o.OrderNumber,
        o.CreatedAt,
        o.Status,
        o.PaymentMethod,
        o.Total,
        COUNT(oi.Id) AS ItemCount,
        SUM(oi.Quantity) AS TotalQuantity
    FROM Orders o
    LEFT JOIN OrderItems oi ON o.Id = oi.OrderId
    WHERE o.UserId = @UserId
        AND (@FromDate IS NULL OR o.CreatedAt >= @FromDate)
        AND (@ToDate IS NULL OR o.CreatedAt <= @ToDate)
    GROUP BY o.Id, o.OrderNumber, o.CreatedAt, o.Status, o.PaymentMethod, o.Total
);
GO
/****** Object:  UserDefinedFunction [dbo].[fn_GetTopSellingProducts]    Script Date: 24-10-2025 11:48:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[fn_GetTopSellingProducts]
(
    @TopN INT = 10,
    @FromDate DATETIME = NULL,
    @ToDate DATETIME = NULL
)
RETURNS TABLE
AS
RETURN
(
    SELECT TOP (@TopN)
        p.Id AS ProductId,
        p.Name AS ProductName,
        p.SKU,
        p.Price,
        COUNT(oi.Id) AS TimesSold,
        SUM(oi.Quantity) AS TotalQuantitySold,
        SUM(oi.TotalPrice) AS TotalRevenue,
        AVG(oi.UnitPrice) AS AverageSellingPrice
    FROM Products p
    INNER JOIN OrderItems oi ON p.Id = oi.ProductId
    INNER JOIN Orders o ON oi.OrderId = o.Id
    WHERE (@FromDate IS NULL OR o.CreatedAt >= @FromDate)
        AND (@ToDate IS NULL OR o.CreatedAt <= @ToDate)
        AND o.Status IN ('Processing', 'Shipped', 'Delivered')
    GROUP BY p.Id, p.Name, p.SKU, p.Price
    ORDER BY TotalQuantitySold DESC
);
GO
/****** Object:  UserDefinedFunction [dbo].[fn_GetProductsLowOnStock]    Script Date: 24-10-2025 11:48:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[fn_GetProductsLowOnStock]
(
    @Threshold INT = 20
)
RETURNS TABLE
AS
RETURN
(
    SELECT 
        p.Id AS ProductId,
        p.Name AS ProductName,
        p.SKU,
        p.Status AS ProductStatus,
        pi.WarehouseCode,
        pi.Quantity,
        pi.AvailableQuantity,
        pi.ReservedQuantity,
        pi.LastRestocked
    FROM Products p
    INNER JOIN ProductInventories pi ON p.Id = pi.ProductId
    WHERE pi.AvailableQuantity <= @Threshold
        AND p.Status = 'Active'
        AND pi.Status = 'InStock'
);
GO
/****** Object:  UserDefinedFunction [dbo].[fn_GetUserActivitySummary]    Script Date: 24-10-2025 11:48:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[fn_GetUserActivitySummary]
(
    @UserId UNIQUEIDENTIFIER
)
RETURNS TABLE
AS
RETURN
(
    SELECT 
        @UserId AS UserId,
        (SELECT COUNT(*) FROM Orders WHERE UserId = @UserId) AS TotalOrders,
        (SELECT SUM(Total) FROM Orders WHERE UserId = @UserId AND Status = 'Delivered') AS TotalSpent,
        (SELECT COUNT(*) FROM ProductReviews WHERE UserId = @UserId) AS TotalReviews,
        (SELECT COUNT(*) FROM UserSessions WHERE UserId = @UserId AND Status = 'Active') AS ActiveSessions,
        (SELECT MAX(LastActivityAt) FROM UserSessions WHERE UserId = @UserId) AS LastActivity,
        (SELECT AVG(CAST(Rating AS FLOAT)) FROM ProductReviews WHERE UserId = @UserId) AS AverageRating
);
GO
/****** Object:  Table [dbo].[OrderStatusHistories]    Script Date: 24-10-2025 11:48:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderStatusHistories](
	[Id] [uniqueidentifier] NOT NULL,
	[OrderId] [uniqueidentifier] NOT NULL,
	[ChangedBy] [nvarchar](100) NULL,
	[OldStatus] [nvarchar](max) NOT NULL,
	[NewStatus] [nvarchar](max) NOT NULL,
	[ChangedAt] [datetime2](7) NOT NULL,
	[Reason] [nvarchar](500) NULL,
	[Notes] [nvarchar](1000) NULL,
	[ChangeData] [nvarchar](max) NULL,
	[Tags] [nvarchar](max) NULL,
	[Document] [varbinary](max) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_OrderStatusHistories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SalesReportDto]    Script Date: 24-10-2025 11:48:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SalesReportDto](
	[OrderDate] [datetime2](7) NOT NULL,
	[TotalOrders] [int] NOT NULL,
	[UniqueCustomers] [int] NOT NULL,
	[TotalRevenue] [decimal](18, 2) NOT NULL,
	[AverageOrderValue] [decimal](18, 2) NOT NULL,
	[TotalTax] [decimal](18, 2) NOT NULL,
	[TotalShipping] [decimal](18, 2) NOT NULL,
	[TotalItemsSold] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Index [IX_OrderItems_OrderId]    Script Date: 24-10-2025 11:48:56 ******/
CREATE NONCLUSTERED INDEX [IX_OrderItems_OrderId] ON [dbo].[OrderItems]
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_OrderItems_ProductId]    Script Date: 24-10-2025 11:48:56 ******/
CREATE NONCLUSTERED INDEX [IX_OrderItems_ProductId] ON [dbo].[OrderItems]
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Orders_UserId]    Script Date: 24-10-2025 11:48:56 ******/
CREATE NONCLUSTERED INDEX [IX_Orders_UserId] ON [dbo].[Orders]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_OrderStatusHistories_OrderId]    Script Date: 24-10-2025 11:48:56 ******/
CREATE NONCLUSTERED INDEX [IX_OrderStatusHistories_OrderId] ON [dbo].[OrderStatusHistories]
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProductInventories_ProductId]    Script Date: 24-10-2025 11:48:56 ******/
CREATE NONCLUSTERED INDEX [IX_ProductInventories_ProductId] ON [dbo].[ProductInventories]
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProductReviews_ProductId]    Script Date: 24-10-2025 11:48:56 ******/
CREATE NONCLUSTERED INDEX [IX_ProductReviews_ProductId] ON [dbo].[ProductReviews]
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProductReviews_UserId]    Script Date: 24-10-2025 11:48:56 ******/
CREATE NONCLUSTERED INDEX [IX_ProductReviews_UserId] ON [dbo].[ProductReviews]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserProfiles_UserId]    Script Date: 24-10-2025 11:48:56 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_UserProfiles_UserId] ON [dbo].[UserProfiles]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserSessions_UserId]    Script Date: 24-10-2025 11:48:56 ******/
CREATE NONCLUSTERED INDEX [IX_UserSessions_UserId] ON [dbo].[UserSessions]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[OrderItems] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[OrderStatusHistories] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[ProductInventories] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[ProductReviews] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[UserProfiles] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[UserSessions] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD  CONSTRAINT [FK_OrderItems_Orders_OrderId] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderItems] CHECK CONSTRAINT [FK_OrderItems_Orders_OrderId]
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD  CONSTRAINT [FK_OrderItems_Products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[OrderItems] CHECK CONSTRAINT [FK_OrderItems_Products_ProductId]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Users_UserId]
GO
ALTER TABLE [dbo].[OrderStatusHistories]  WITH CHECK ADD  CONSTRAINT [FK_OrderStatusHistories_Orders_OrderId] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderStatusHistories] CHECK CONSTRAINT [FK_OrderStatusHistories_Orders_OrderId]
GO
ALTER TABLE [dbo].[ProductInventories]  WITH CHECK ADD  CONSTRAINT [FK_ProductInventories_Products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductInventories] CHECK CONSTRAINT [FK_ProductInventories_Products_ProductId]
GO
ALTER TABLE [dbo].[ProductReviews]  WITH CHECK ADD  CONSTRAINT [FK_ProductReviews_Products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductReviews] CHECK CONSTRAINT [FK_ProductReviews_Products_ProductId]
GO
ALTER TABLE [dbo].[ProductReviews]  WITH CHECK ADD  CONSTRAINT [FK_ProductReviews_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[ProductReviews] CHECK CONSTRAINT [FK_ProductReviews_Users_UserId]
GO
ALTER TABLE [dbo].[UserProfiles]  WITH CHECK ADD  CONSTRAINT [FK_UserProfiles_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserProfiles] CHECK CONSTRAINT [FK_UserProfiles_Users_UserId]
GO
ALTER TABLE [dbo].[UserSessions]  WITH CHECK ADD  CONSTRAINT [FK_UserSessions_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserSessions] CHECK CONSTRAINT [FK_UserSessions_Users_UserId]
GO
/****** Object:  StoredProcedure [dbo].[sp_CreateOrderWithItems]    Script Date: 24-10-2025 11:48:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_CreateOrderWithItems]
    @UserId UNIQUEIDENTIFIER,
    @OrderNumber NVARCHAR(50),
    @SubTotal DECIMAL(18,2),
    @TaxAmount DECIMAL(18,2),
    @ShippingCost DECIMAL(18,2),
    @OrderId UNIQUEIDENTIFIER OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRANSACTION;
    
    BEGIN TRY
        -- Create new order
        SET @OrderId = NEWID();
        
        INSERT INTO Orders (Id, UserId, OrderNumber, Status, SubTotal, TaxAmount, ShippingCost, Total, CreatedAt)
        VALUES (
            @OrderId,
            @UserId,
            @OrderNumber,
            'Pending',
            @SubTotal,
            @TaxAmount,
            @ShippingCost,
            @SubTotal + @TaxAmount + @ShippingCost,
            GETUTCDATE()
        );
        
        COMMIT TRANSACTION;
        
        SELECT @OrderId AS OrderId, 'Order created successfully' AS Message;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
        DECLARE @ErrorState INT = ERROR_STATE();
        
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetSalesReport]    Script Date: 24-10-2025 11:48:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetSalesReport]
    @FromDate DATETIME = NULL,
    @ToDate DATETIME = NULL,
    @Status NVARCHAR(MAX) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Set default date range if not provided
    IF @FromDate IS NULL
        SET @FromDate = DATEADD(DAY, -30, GETDATE());
    IF @ToDate IS NULL
        SET @ToDate = GETDATE();
    
    SELECT 
        CAST(o.CreatedAt AS DATE) AS OrderDate,
        COUNT(o.Id) AS TotalOrders,
        SUM(o.Total) AS TotalRevenue,
        AVG(o.Total) AS AverageOrderValue,
        SUM(o.ShippingCost) AS TotalShipping,
        SUM(o.TaxAmount) AS TotalTax,
        COUNT(DISTINCT o.UserId) AS UniqueCustomers,
        SUM(oi.Quantity) AS TotalItemsSold
    FROM Orders o
    LEFT JOIN OrderItems oi ON o.Id = oi.OrderId
    WHERE o.CreatedAt >= @FromDate 
        AND o.CreatedAt <= @ToDate
        AND (@Status IS NULL OR o.Status = @Status)
    GROUP BY CAST(o.CreatedAt AS DATE)
    ORDER BY OrderDate DESC;
END;
GO
USE [master]
GO
